{% extends "layouts/layout.html" %}

{% block content %}
<div style = "position: relative; width: 375px; height: 225px; left:0px; top: -40px;background-color: #25AC72;border-radius: 31px;">
        <br>
        <br>
        <br>
        <br>
        <span class="tab"><h1 class="capitalize">Receipt</h1></span>
</div>

<div style="position:relative;" class="center">
    <img src="../../static/img/{{receipt}}.png" width="360" height="500" style="padding-top:0px;padding-left:10px;position:relative">
</div>

<div style="position:relative; top=400px">
    <form method="POST">
        <input type="image" src="../../static/img/image2.png" name=”submit” class="center"/>
    </form>
</div>
{% endblock %}
