<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #E8FFF4;
}
.button{
  background-color: #25AC72;
  border: none;
  color: white;
  padding: 30px 100px;
  text-align: center;
  text-decoration: none;
  font-size: -webkit-xxx-large;
  margin: 6px 252px;
  display: block;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border-radius: 100px;
  font-weight: bold;
}
</style>
</head>
<body>

<img src="../../static/img/papercut.png" width="888" height="420" style="padding-top: 150px; padding-left: 48px;position: relative">
<a href="main" class="button">Get Started</a>
<img src="../../static/img/tree_trimmed.png" width="950" height="1300" style="padding-top: 50px; padding-left: 5px;position: absolute">
</body>
</html>
